.product{
    background-color: #2B2B2B;
    padding: 5px;
    text-align: center;
    color: black;
}
.productlist{
    background-color: #362222;
    margin: 10px;
    padding: 10px;
}
.image{
    width: 1200px;
    height: 600px; 
}
/* ( #171010,#423F3E,#2B2B2B) */